{% extends 'base.html' %}

{% block content %}
<h1 class="mb-3">Listar Tasks</h1>
{% if not tasks %}
    <br>
    <h3>Não há tasks na fila.</h3>
    <h5>Quando você fizer uma nova compra, as tasks de calculo aparecerão aqui.</h5>
    <br>
    <a href="{%url 'new-purchase' %}" class="btn btn-info btn-lg">Nova compra</a>
{% else %}
<div class="card">
    <table class="table table-striped table-hover mb-0">
    <thead>
        <tr>
            <th>Task</th>
            <th>Descrição</th>
            <th>Informações</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr {% if task.status == 'SUCCESS' %}  
                class = 'bg-success' 
            {% elif task.status == 'PENDING' %}
                class = 'bg-warning'
            {% elif task.status == 'FAILURE' %}
                class = 'bg-danger'
            {% elif task.status == 'STARTED' %}
                class = 'bg-info'
            {% endif %}>
            <th scope="row">{{ task.task_id }}</th>
            <td>{{ task.info }}</td>
            <td>{{ task.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endif %}

{% if is_paginated %}
  <div class="card">
  <div class="pagination">
    <span class="page-links mx-auto">
      {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
      {% endif %}
      <span class="page-current">
          Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
      </span>
      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">próxima</a>
      {% endif %}
    </span>
  </div>
  </div>
{% endif %}
{% endblock content %}