{% extends 'base.html' %}

{% block content %}
<h1 class="mb-3">Listar Compras</h1>
<div class="row">
  <div class="col-12">
    {% regroup purchases by purchase_date|date:"M Y" as purchases_by_day %}
    {% for day in purchases_by_day %}
    <div class="card mb-3">
    <div class="card-header bg-info text-white">
        {{ day.grouper }}
    </div>
    <div class="card-block">
          <div class="row">
          {% for purchase in day.list %}
          <div class="col-4">
            <div class="card mb-3">
              <div class="card-header">
                <h5 class="card-text">{{ purchase.product }}</h5>
              </div>
              <div class="card-block">
                <p class="card-text">Data da compra: {{ purchase.purchase_date }}</p>
                <p class="card-text">Preço Unitário: R$ {{ purchase.unit_price }}</p>
                <p class="card-text">Quantidade: {{ purchase.quantity }}</p>
                <p class="card-text">Valor Total: R$ {{ purchase.value }}</p>
                <p class="card-text">Preço médio: R$ {{ purchase.product.average_coast }}</p>
              </div>
            </div>
            </div>
          {% endfor %}
          </div>
      </div>
      </div>
      </div>
    {% endfor %}
</div>

<div class="card">
  {% if is_paginated %}
  <div class="pagination">
    <span class="page-links mx-auto">
      {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
      {% endif %}
      <span class="page-current">
          Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
      </span>
      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">próxima</a>
      {% endif %}
    </span>
  </div>
  {% endif %}
</div>

</div>
{% endblock content %}