{% extends 'base.html' %}

{% block content %}
<h1 class="mb-3">Listar Tasks</h1>
<div class="card">
    <table class="table table-striped table-hover mb-0">
    <thead>
        <tr>
            <th>Task</th>
            <th>Descrição</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr {% if task.status == 'SUCCESS' %}  
                class = 'bg-success' 
            {% elif task.status == 'PENDING' %}
                class = 'bg-warning'
            {% elif task.status == 'FAILURE' %}
                class = 'bg-danger'
            {% elif task.status == 'STARTED' %}
                class = 'bg-info'
            {% endif %}>
            <th scope="row">{{ task.task_id }}</th>
            <td>{{ task.info }}</td>
            <td>{{ task.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}