<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Listar Tasks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
    <script type="text/javascript" src="lib/jquery/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded ">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Estoque</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="listar-produtos.html">Listar Produtos<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" id="comprasMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Compras</a>
                        <div class="dropdown-menu" aria-labelledby="comprasMenuLink">
                            <a class="dropdown-item" href="listar-compras.html">Listar Compras</a>
                            <a class="dropdown-item active" href="nova-compra.html">Nova Compra</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="listar-tasks.html">Listar Tasks</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="container-fluid mt-3">
        <h1 class="mb-3">Nova Compra</h1>
        <div class="card">
            <div class="card-block">
                <form>
                    <div class="form-group">
                        <label for="produtosSelect">Produtos</label>
                        <select class="form-control" id="produtosSelect">
                            <option>Lápis</option>
                            <option>Caneta</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="quantidade">Quantidade</label>
                        <input class="form-control" type="number" value="42" id="quantidade">
                    </div>
                    <div class="form-group">
                        <label for="valorUnitario">Valor Unitário</label>
                        <input class="form-control" value="42" id="valorUnitario">
                    </div>
                    <div class="form-group">
                        <label for="valorTotal">Valor Total</label>
                        <input class="form-control" value="R$ 1.200,00" id="valorTotal" disabled>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-info">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>